# XNA 4.0 .gitignore by Brett Chalupa @ http://brettchalupa.com/programming/gitignore-for-xna-projects/
# Common files to ignore
*.swp
 
# Compressed Files
*.zip
 
# VS2010 Files
*.suo
 
# XNA Files
**/bin/*
**/obj/*
**/**/bin/*
**/**/obj/*
**/**/**/bin/*
**/**/**/obj/*
**/**/**/**/bin/*
**/**/**/**/obj/*
*.chachefile
*.Debug.cachefile
SmashBros/DebugView XNA/bin/*
SmashBros/DebugView XNA/obj/*
SmashBros/Interfaces/Interfaces/InterfacesContent/obj/*
